@import 'variables'
@import 'grid'
@import 'cards'
@import 'button'
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css)

body 
  background-color: #eee
  font-family: 'Noto Sans TC', sans-serif
  color: #555

.navbar
  background-color: $color-1
.navbar a.navbar-brand
  color: #eee
  &:hover
    color: #eee
.navbar ul.navbar-nav li.nav-item a.nav-link
  color: #eee

a
  color: #555
  &:hover
    text-decoration: none

.adv
  height: 360px
  background-color: gold

.projects-filter
  height: 50px
  box-shadow: 0 1px 2px rgba(0,0,0,0.07)
  background-color: #fff
  font-size: 0.9em
  a, span
    display: inline-block
    box-sizing: border-box
    height: 48px
    padding: 2px 10px 0px 10px
    border-bottom: 3px solid rgba(0,0,0,0)
    margin-right: 15px
    line-height: calc(50px - 2px)
    color: #777
    &.active
      border-bottom: 2px solid $color-1
      color: $color-1
      &:hover
        color: $color-1
  a.float-right
    float: right
    margin-right: 0px

.projects-grid
  padding: 30px 0px

.project-card
  text-align: center
  .ks-card
    width: 210px
    .ks-card-img
      height: 142px
    a.code,a.share,a.delete
      position: absolute
      right: 15px
      width: 30px
      height: 30px
      border-radius: 3px
      font-size: 0.9em
      text-align: center
      line-height: 30px
      background-color: rgba(50, 50, 50, 0.7)
      color: rgba(255, 255, 255, 0.9)
      visibility: hidden
      transition: background-color 0.1s linear 0s
  &:hover
    a.code,a.share,a.delete
      visibility: visible 
  a.code
    top: 15px
    &:hover
      background-color: rgba(247, 183, 44, 0.9)
  a.share
    top: 50px
    &:hover
      background-color: rgba(37, 175, 244, 0.9)
  a.delete
    top: 85px
    &:hover
      background-color: rgba(238, 54, 52, 0.9)

  .project-card-detail
    display: inline-block
    width: 100%
    padding: 5px 10px
    box-sizing: border-box
    .title, .author
      display: block
      color: #444
    .title
      font-size: .95em
      font-weight: 500
    .author
      font-size: 0.5em
      font-weight: 400
      color: #777

.course-card
  text-align: center
  width: 255px
  height: 295px
  color: #444
  .ks-card-img
    height: 150px
  .title
    margin-top: 10px
    display: block
    font-size: .95em
    font-weight: 400
    height: 40px
    overflow: hidden
  button
    position: absolute
    bottom: 15px
    left: 50%
    transform: translateX(-50%)

  .progress
    position: absolute
    width: 80%
    height: 10px
    bottom: 60px
    left: 50%
    transform: translateX(-50%)
    