extends ./layout/layout
include ./partials/partials

block content
  .container-fluid.adv(style="background-position: center; background-size: cover; background-image: url('../assets/d.jpg')")
  +course_filter(1)
  .container.projects-grid
    .ks-grid
      each course in courses
        +course_card(course, 0, false)
  div(style="width:100%; padding: 30px")
    button.ks-btn(style="margin: auto; display: block;") 更多課程