extends ./layout/layout
include ./partials/partials

block content
  .container-fluid.adv(style="background-position: center; background-size: cover; background-image: url('../assets/d.jpg')")
  +course_filter(5)
  .container.projects-grid
    .ks-grid
      each course in courses
          if course.type == 'register'
            +course_card(course, 0, true)