.ks-grid {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center; }
  .ks-grid .ks-cell {
    margin: 7.5px;
    margin-bottom: 22.5px; }

.ks-card {
  position: relative;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff; }
  .ks-card .ks-card-img {
    border-radius: 1px;
    background-size: cover;
    background-position: center; }
  .ks-card .tags {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 0.5em; }
    .ks-card .tags span {
      display: inline-block;
      padding: 0px 8px;
      border-radius: 1px 0px 2px 0px; }
      .ks-card .tags span.views {
        background-color: #25aff4; }
      .ks-card .tags span.likes {
        background-color: #ee3634; }
      .ks-card .tags span.feature {
        background-color: #f7b72c; }

body {
  background-color: #eee; }

nav {
  background-color: #1dafd0;
  color: #eee; }
  nav a {
    color: #eee;
    display: inline-block;
    margin: 0px 15px; }

a {
  color: #555; }
  a:hover {
    text-decoration: none; }

.adv {
  height: 360px;
  background-color: gold; }

.projects-filter {
  height: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  background-color: #fff; }
  .projects-filter a {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    padding: 2px 10px 0px 10px;
    border-bottom: 3px solid transparent;
    margin-right: 15px;
    line-height: calc(50px - 2px);
    font-size: 0.9em;
    color: #777; }
    .projects-filter a.active {
      border-bottom: 2px solid #1dafd0;
      color: #1dafd0; }
      .projects-filter a.active:hover {
        color: #1dafd0; }
  .projects-filter a.float-right {
    float: right;
    margin-right: 0px; }

.projects-grid {
  padding: 30px 0px; }

.project-card .ks-card {
  width: 210px; }
  .project-card .ks-card .ks-card-img {
    height: 142px; }
  .project-card .ks-card a.code, .project-card .ks-card a.share, .project-card .ks-card a.delete {
    position: absolute;
    right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    font-size: 0.9em;
    text-align: center;
    line-height: 30px;
    background-color: rgba(50, 50, 50, 0.7);
    color: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    transition: background-color 0.1s linear 0s; }

.project-card:hover a.code, .project-card:hover a.share, .project-card:hover a.delete {
  visibility: visible; }

.project-card a.code {
  top: 15px; }
  .project-card a.code:hover {
    background-color: rgba(247, 183, 44, 0.9); }

.project-card a.share {
  top: 50px; }
  .project-card a.share:hover {
    background-color: rgba(37, 175, 244, 0.9); }

.project-card a.delete {
  top: 85px; }
  .project-card a.delete:hover {
    background-color: rgba(238, 54, 52, 0.9); }

.project-card .project-card-detail {
  display: inline-block;
  width: 100%;
  padding: 5px 10px;
  box-sizing: border-box; }
  .project-card .project-card-detail .title, .project-card .project-card-detail .author {
    display: block;
    color: #444; }
  .project-card .project-card-detail .title {
    font-size: .95em;
    font-weight: 500; }
  .project-card .project-card-detail .author {
    font-size: 0.5em;
    font-weight: 400;
    color: #777; }

.course-card {
  width: 255px;
  height: 285px;
  color: #444; }
  .course-card .ks-card-img {
    height: 150px; }
  .course-card .title {
    margin-top: 10px;
    display: block;
    font-size: .95em;
    font-weight: 400; }
  .course-card button {
    height: 30px;
    box-sizing: border-box;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 15px;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.05);
    color: #fff;
    font-size: .95em; }
    .course-card button.show {
      background-color: gold; }
    .course-card button.free {
      background-color: #44bc40; }
