<!DOCTYPE html>
html lang="en"
head
  meta charset="UTF-8"/
  meta name="viewport" content="width=device-width, initial-scale=1.0"/
  meta http-equiv="X-UA-Compatible" content="ie=edge"/
  title Document
  link rel="stylesheet" href="./lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css"/
  link rel="stylesheet" href="./application.css"/
  link rel="stylesheet" href="./lib/font-awesome-4.7.0 2/css/font-awesome.css"
  script src="./lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js"
body
  nav.navbar.navbar-toggleable-md
    a.navbar-brand Koding
  .container-fluid.adv style="height: calc(100vh - 50px);background-position: center; background-size: cover; background-image: url('./assets/d.jpg')"
    .row
      .col-6
        h1 style="color: #fff" 線上兒童程式設計平台
      .col-6 style="padding: 30px"
        iframe width="560" height="315" src="https://www.youtube.com/embed/75ii5yOLTyk" frameborder="0" allowfullscreen