<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  title Document
  link(rel="stylesheet" href="../lib/bootstrap-4.0.0-alpha.6-dist/css/bootstrap.min.css")
  link(rel="stylesheet" href="./application.css")
  link(rel="stylesheet" href="../lib/font-awesome-4.7.0 2/css/font-awesome.css")
  script(src="../lib/bootstrap-4.0.0-alpha.6-dist/js/bootstrap.min.js")
body
  nav.navbar.navbar-toggleable-md
    a.navbar-brand(href="index.html") Koding
    a(href="courses.html") 探索課程
    a(href="projects.html") 探索專案
    a(href="#") 新專案

  block content

  footer(style="height: 300px; background-color: #fff; border-top:1px solid #eee")
  